{% load static %}
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Consortium Blockchain-Based Accessing Control</title>
<meta name="keywords" content="" />
<meta name="Premium Series" content="" />
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" media="screen" />
<script language="javascript">
	function validate(formObj)
	{
	if(formObj.t1.value.length==0)
	{
	alert("Please enter task keywords");
	formObj.t1.focus();
	return false;
	}
	
	return true;
	}
	</script>
<style>
body {
  background-image: url("{% static 'images/back.jpg' %}");
}
</style>
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><span><center><font size="5" color="white"><br/>A Security and Privacy-Preserving Consortium Blockchain-Based Accessing Control in Mobile Crowdsensing</font>

</center></span></h1>
		
	</div>
	<div id="menu">
		<ul>      
	<li><a href="{% url 'GenerateTask' %}"><font size="2" color="white">Generate Task</a></li>
	 <li><a href="{% url 'ViewTask' %}"><font size="2" color="white">View Task</a></li>
     <li><a href="{% url 'DownloadData' %}"><font size="2" color="white">Download Mobile Sense Data</a></li>
	 <li><a href="{% url 'Graph' %}"><font size="2" color="white">Block Computation Graph</a></li>
	 <li><a href="{% url 'CacheGraph' %}"><font size="2" color="white">Extension Cache Graph</a></li>
	  <li><a href="{% url 'index' %}"><font size="2" color="white">Logout</a></li>
   </ul>     
	</div>
	
</div>

<div id="wrapper">
	<!-- start page -->
	<div id="page">
		 <form name="f1" method="post" action="{% url 'GenerateTaskAction' %}" OnSubmit="return validate(this)">
	{% csrf_token %}
		<!-- start content -->
		<div id="content">
		<div class="flower"><img src="{% static 'images/tra.jpg' %}" alt="" width="800" height="200" /></center></div>
			<br/><br/>
			<div class="flower"><center><h1>
			<font size="" align="center">
			Task Generation Page for Mobile Device to Sense Data</font><h1></div>
			
		
			<center><font face="verdana" color="blue">{{ data|safe }}</center></font>
		<br/>
			<table align="center">

<tr><td><font size="3" color="black">Enter&nbsp;Task&nbsp;Keywords</td><td><input type="text" name="t1" size="60"/> 


</td></tr>

</td></tr>
<tr><td></td><td><input type="submit" value="Submit"></td>
</td></tr></table>
</form>
			</table>
			</center><br /><div class="post">
				
				<div class="entry">
					
				</div>
			</div>
		</div>
		<!-- end content -->
		<!-- start sidebars -->
		
		<!-- end sidebars -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end page -->
</div>
</body>
</html>


