{% load static %}
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Consortium Blockchain-Based Accessing Control</title>
<meta name="keywords" content="" />
<meta name="Premium Series" content="" />
<link href="{% static 'default.css' %}" rel="stylesheet" type="text/css" media="screen" />
<style>
body {
  background-image: url("{% static 'images/back.jpg' %}");
}
</style>
</head>
<body>
<!-- start header -->
<div id="header">
	<div id="logo">
		<h1><span><center><font size="5" color="white"><br/>A Security and Privacy-Preserving Consortium Blockchain-Based Accessing Control in Mobile Crowdsensing</font>

</center></span></h1>
		
	</div>
	<div id="menu">
		<ul id="main">
			<li class="current_page_item"><a href="{% url 'index' %}"><font size="4" color="white">Home</a></li><td></td>
			<li><a href="{% url 'StakeLogin' %}"><font size="4" color="white">Stakeholder Login</a></li><td></td>
			<li><a href="{% url 'MobileLogin' %}"><font size="4" color="white">Mobile Device Login</a></li><td></td>
			<li><a href="{% url 'Register' %}"><font size="4" color="white">Registration Here</a></li><td></td>
			<td></td>		
     
		</ul>
     
		</ul>
		
	</div>
	
</div>
<div id="wrapper">
	<!-- start page -->
	<div id="page">
		
		<!-- start content -->
		<div id="content">
			<div class="flower"><img src="{% static 'images/tra.jpg' %}" alt="" width="800" height="200" /></center></div>
			<br/><br/>
			<center><font size="3" color="blue">In current mobile crowdsensing (MCS) systems, there is limited attention given to the security
threats associated with access to the profile records (PR) of participating mobile devices. For example,
most existing studies consider stakeholders of MCS applications as fully trusted entities, which granting
them unlimited authorization to access the Participated Mobile Devices' PR for the purpose of collecting
sensing data. From this point, hackers may exploit this trusted point to gain unlimited authorization
access to a particular participated mobile devices. They can achieve this by launching attacks, such as
creating counterfeit applications as a trusted MCS applications and then posing as legitimate stakeholders to
request access to the targeted devices. Thus, the hacker will gain full authorized access to the participating
mobile devices' PR, in which will result in the disclosure of security and privacy-related information of
their participated devices.</font></center>
		<center>
		
			<table align="center">
			<tr>
			<h3>
			</p></h3>
			</table>
			</center><br /><div class="post">
				
				<div class="entry">
					
				</div>
			</div>
		</div>
		<!-- end content -->
		<!-- start sidebars -->
		
		<!-- end sidebars -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end page -->
</div>
</body>
</html>


